@model Demo.Models.Phim

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}




<section>
    <div style="
          background-color: rgb(99, 98, 98);
          font-family: 'Times New Roman', Times, serif;
        ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-xl-9"
                     style="background-color: rgb(27, 27, 27)">
                    <div class="row">
                        <div class="col-12 col-md-9 col-xl-5 mt-3">
                            <div class="ImageText">
                                <img src="~/img/poster/@Html.DisplayFor(model => model.anh_bia)"
                                     class="img-fluid"
                                     style="width: 25rem; height: 28rem"
                                     alt="" />
                                <div class="TextInImage text-center">
                                    <button class="btn btn-primary text-white mx-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Trailer
                                    </button>
                                    <button class="btn btn-danger mx-2">
                                        <a href="@Url.Action("WatchFilm","LoadPhim", new { id= Model.id_phim} )"
                                           class="text-white"
                                           style="text-decoration: none">
                                            Xem Phim
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-7 mt-3">
                            <p class="m-0 p-0 fs-4" style="color: rgb(221, 147, 9)">
                                <strong>@Html.DisplayFor(model => model.ten_phim)</strong>
                            </p>
                            @*<p class="m-0 p-0 fs-5" style="color: whitesmoke">
                                    Train To Busan (2016)
                                </p>*@
                            <div style="background-color: rgb(54, 54, 54); color: whitesmoke"
                                 class="pt-2 mt-1 ps-2">
                                <p class="m-0 p-0">
                                    Trạng Thái: <span class="text-danger">@Html.DisplayFor(model => model.TrangThai.ten_trang_thai)</span>
                                </p>

                                <p class="m-0 p-0">
                                    Quốc gia: <span class="text-info">@Html.DisplayFor(model => model.QuocGia.ten_quoc_gia)</span>
                                </p>
                                <p class="m-0 p-0">
                                    Năm sản xuất: <span class="text-info">@Html.DisplayFor(model => model.NamPhatHanh.nam_phat_hanh)</span>
                                </p>
                                <p class="m-0 p-0">Thời lượng: 118 phút</p>
                                <p class="m-0 p-0">Chất lượng: Bản đẹp</p>
                                <p class="m-0 p-0">Độ phân giải: Full HD</p>
                                <p class="m-0 p-0">Ngôn ngữ: Phụ đề việt</p>
                                <p class="m-0 p-0">
                                    Thể loại:
                                    <span class="text-info">@Html.DisplayFor(model => model.Loai.ten_loai)</span>
                                </p>
                                <p class="m-0 p-0">Lượt xem: 18</p>
                            </div>
                            <div style="background-color: rgb(54, 54, 54); color: whitesmoke"
                                 class="pt-2 mt-3 pb-2 ps-2">
                                <div>
                                    <p class="m-0 p-0 d-inline fs-4"
                                       style="color: rgb(255, 166, 0)">
                                        Đánh Giá Phim
                                    </p>
                                    <p class="m-0 p-0 d-inline">(3 lượt)</p>
                                </div>
                                <div class="d-inline">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3 mx-1"
                         style="background-color: rgb(54, 54, 54); color: whitesmoke">
                        <div class="col-12">
                            <div class="fs-4 my-2" style="color: rgb(221, 147, 9)">
                                Diễn Viên
                            </div>
                            <ul class="nav align-content-center" style="height: 10rem">
                                <li class="nav-item text-center">
                                    <div class="bg-black rounded-circle mx-2 p-3">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-user fs-1 text-white"></i>
                                        </a>
                                    </div>
                                    <a class="nav-link" href="#">
                                        <span class="text-info"> Baek Jin Hee</span>
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <div class="bg-black rounded-circle mx-2 p-3">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-user fs-1 text-white"></i>
                                        </a>
                                    </div>
                                    <a class="nav-link" href="#">
                                        <span class="text-info"> Choi Woo Sik</span>
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <div class="bg-black rounded-circle mx-2 p-3">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-user fs-1 text-white"></i>
                                        </a>
                                    </div>
                                    <a class="nav-link" href="#">
                                        <span class="text-info"> Gong Yoo</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row my-3 mx-1"
                         style="background-color: rgb(54, 54, 54); color: whitesmoke">
                        <div class="col-12 col-md-12 col-xl-12">
                            <div class="fs-4 my-2" style="color: rgb(221, 147, 9)">
                                NỘI DUNG PHIM
                            </div>
                            <div>
                                <h4>@Html.DisplayFor(model => model.ten_phim)</h4>
                            </div>
                            <div>
                                <p>
                                    @Html.DisplayFor(model => model.mo_ta)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-xl-3">
                    <div class="card" style="border: 1px solid rgb(99, 98, 98)">
                        <div class="card-header text-danger"
                             style="background-color: rgb(99, 98, 98)">
                            <h3 class="w3-center ps-3"
                                style="
                      color: rgb(219, 145, 7);
                      border-left: 1rem solid rgb(219, 145, 7);
                    ">
                                Phim Sắp Chiếu
                                <i class="fas fa-star"></i>
                            </h3>
                        </div>
                        <div class="card-body"
                             style="background-color: rgb(27, 27, 27)">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="#">
                                                <img src="~/img/poster/HiemHoaDietVong.jpg"
                                                     class="float-start clearfix me-3"
                                                     alt="" />
                                                <h6 class="text-white">Hiểm Họa Diệt Vong</h6>
                                                <p class="p-0 m-0">The Colony</p>
                                                <p class="p-0 m-0">1,481 View</p>
                                                <div class="d-inline-block text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="#">
                                                <img src="~/img/poster/Letmein.jpg"
                                                     class="float-start clearfix me-3"
                                                     alt="" />
                                                <h6 class="text-white">Hãy để chúng tôi vào</h6>
                                                <p class="p-0 m-0">Let Us In</p>
                                                <p class="p-0 m-0">1,822 View</p>
                                                <div class="d-inline-block text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="#">
                                                <img src="~/img/poster/QuyetDinhCuaChua.jpg"
                                                     class="float-start clearfix me-3"
                                                     alt="" />
                                                <h6 class="text-white">Quyết Định Của Chúa</h6>
                                                <p class="p-0 m-0">The God Committee</p>
                                                <p class="p-0 m-0">1,579 View</p>
                                                <div class="d-inline-block text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="#">
                                                <img src="~/img/poster/Thenun_2.jpg"
                                                     class="float-start clearfix me-3"
                                                     alt=""
                                                     height="140"
                                                     width="100"/>
                                                <h6 class="text-white">Ác Quỷ Ma Sơ</h6>
                                                <p class="p-0 m-0">The Nun</p>
                                                <p class="p-0 m-0">2,338 View</p>
                                                <div class="d-inline-block text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="#">
                                                <img src="~/img/poster/Shangchi.jpg"
                                                     class="float-start clearfix me-3"
                                                     alt="" />
                                                <h6 class="text-white">
                                                    Shang-Chi Và Huyền Thoại Thập Nhẫn
                                                </h6>
                                                <p class="p-0 m-0">SThe Legend Of The Ten Ring</p>
                                                <p class="p-0 m-0">2,783 View</p>
                                                <div class="d-inline-block text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content ratio ratio-16x9">

            <iframe src="@Html.DisplayFor(model => model.trailer)"
                    title="YouTube video player" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>